<ul class="sidebar-menu">
    <li class="header">管理菜单</li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span>首页</span>
            <span class="label label-primary pull-right">1</span>
        </a>
        <ul class="treeview-menu" id="g-1">
            <li>
                <a href="{{ url_for('admin.index') }}" id="g-1-1">
                    <i class="fa fa-circle-o"></i> 控制面板
                </a>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-tags" aria-hidden="true"></i>
            <span>标签管理</span>
            <span class="label label-primary pull-right">2</span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="{{ url_for('admin.tag_add') }}">
                    <i class="fa fa-circle-o"></i> 添加标签
                </a>
            </li>
            <li>
                <a href="{{ url_for('admin.tag_list',page=1) }}">
                    <i class="fa fa-circle-o"></i> 标签列表
                </a>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-file-video-o" aria-hidden="true"></i>
            <span>电影管理</span>
            <span class="label label-primary pull-right">2</span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="{{ url_for('admin.movie_add') }}">
                    <i class="fa fa-circle-o"></i> 添加电影
                </a>
            </li>
            <li>
                <a href="{{ url_for('admin.movie_list' ,page=1) }}">
                    <i class="fa fa-circle-o"></i> 电影列表
                </a>
            </li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-heart" aria-hidden="true"></i>
            <span>收藏管理</span>
            <span class="label label-primary pull-right">1</span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="../dfxxxxzzzzzzzzzzzzzzzz/moviecol_list.html">
                    <i class="fa fa-circle-o"></i> 收藏列表
                </a>
            </li>
        </ul>
    </li>
</ul>